.iconTitle{
    display: inline-block;
    width: 14%;
}

.layoutTitle{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: xx-large;
    color: #420641;
}