<div class="container">
<h2>Registro viaje</h2>

<form (ngSubmit)="registerTrip()">
  <div>
    <label>Origen:</label>
    <input type="text" [(ngModel)]="trip.origin" [ngClass]="{'field-error': !trip.origin}" name="origin" required>
  </div>

  <div>
    <label>Destination:</label>
    <input type="text" [(ngModel)]="trip.destination" [ngClass]="{'field-error': !trip.destination}" name="destination" required>
  </div>

  <div>
    <label>Fecha de viaje:</label>
    <input type="date" [(ngModel)]="trip.date" [ngClass]="{'field-error': !trip.date}" name="date" required>
  </div>

  <div>
    <label>Hora:</label>
    <input type="time" [(ngModel)]="timeValue" [ngClass]="{'field-error': !timeValue}" name="time" required>
  </div>

  <button type="submit" >Registrar Viaje</button>
</form>
</div>