<o-form-layout-manager
  title="{{ 'TRIP_INFORMATION' | oTranslate }}"
  separator=" "
  mode="dialog"
  label-columns="NAME;SURNAME"
  show-header="no"
>
<o-form-layout-dialog-options width="800px" height="600px"
  disable-close="false" ></o-form-layout-dialog-options>
  <div fxFill>
    <o-list
      #list
      attr="tripslist"
      title="TRIPS"
      service="trips"
      entity="trip"
      keys="id_trip"
      columns="id_trip;origin_title;destination_title;date;time;id_user"
      selectable="true"
      refresh-button="true"
      [insert-button]="carsNumber>0? true : false"
      insert-method="insertDetail()"
      insert-button-floatable="false"
      delete-button="true"
      detail-button-in-row="true"
      detail-button-in-row-icon="chevron_right"
      edit-button-in-row="false"
      edit-button-in-row-icon="edit"
      detail-mode="none"
      pagination-controls="yes"
    >
      <o-list-item *ngFor="let row of list.dataArray">
        <o-list-item-card
          #item
          title="{{ row.origin_title }} - {{ row.destination_title }}"
          subtitle="{{ convertDate(row.date) }} - {{ convertTime(row.time) }}"
          image="./assets/images/mapIcon.png"
        >
        </o-list-item-card>
      </o-list-item>
    </o-list>
  </div>
</o-form-layout-manager>