<o-form-layout-manager
  title="{{ 'STATS_INFORMATION' | oTranslate }}"
  separator=" "
  mode="dialog"
  label-columns="NAME;SURNAME"
  show-header="no"
>
  <o-row>
    <div class="statsDiv">
      <p label="Most people who book with you"><strong>{{'Most people who book with you' | oTranslate}}</strong></p>
      <o-chart type="discreteBar" show-label="yes" x-label="User" y-label="Number of trips" service="trips" entity="moreTrips" x-axis="id_user" y-axis="more_trips"></o-chart>
    </div>
    <div class="statsDiv">
      <p label="Most people who book with you"><strong>{{'Comparison trips published this month / last month' | oTranslate}}</strong></p>
      <o-chart #bubbleChart type="bubbleChart" chart-height="400" [data]="dataTripsStats"></o-chart>
    </div>
    </o-row>
</o-form-layout-manager>
<o-form-layout-manager
  title="{{ 'TRIP_INFORMATION' | oTranslate }}"
  separator=" "
  mode="dialog"
  label-columns="NAME;SURNAME"
  show-header="no"
>
<o-form-layout-dialog-options width="800px" height="600px"
  disable-close="false" ></o-form-layout-dialog-options>
  <div fxFill>
    <o-grid
      #grid
      attr="tripslist"
      title="TRIPS"
      service="trips"
      entity="trip"
      keys="id_trip"
      columns="id_trip;origin_title;destination_title;date;time;id_user"
      selectable="true"
      refresh-button="true"
      [insert-button]="carsNumber>0? true : false"
      insert-button-floatable="false"
      delete-button="true"
      detail-mode="click"
      query-rows="8"
      gutter-size="20px"
      cols="4"
      pagination-controls="yes"
    >
      <o-grid-item *ngFor="let list of grid.dataArray">
        <o-column layout-padding class="container-item">
          <img class="map" src="./assets/images/mapIcon.png"/>
          <div class="origin">
            <mat-icon>directions_car</mat-icon><b>{{ list.origin_title }} - {{ list.destination_title }}</b>
          </div>
          <div class="destination">
            <mat-icon>dehaze</mat-icon> <b> {{ convertDate(list.date) }} - {{ convertTime(list.time) }} </b>
          </div>
        </o-column>
      </o-grid-item>
    </o-grid>
  </div>
</o-form-layout-manager>