.statsDiv{
    width: 50%;
}

.statsDiv p{
    width: 100%;
    text-align: center;
    text-decoration: underline;
}

.bg {
    background-color: darkred;
  }
  
  .container-item{
    width: 80%;
    height: 70%;
    border-radius: 5px;
    border: 1px solid black;
    background-color:white;
    .origin{
      padding-top: 10px;
      margin:8px 0;
      font-size: 1.2em;
    }
    .destination{
      margin:8px 0;
      font-size: 0.9em;
    }
    .body,
    .datetime{
      font-size: 0.9em;
      display: flex;
      align-items: center;
      color:#4b4b4b;
      mat-icon{
        padding-right:8px;
      }
      span{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
    .mat-icon{
      font-size:18px;
      height: 18px;
    }
    .map{
      width:100%;
      height: 200px;
      align-content: center;
    }
  }
  
  .container-item:hover{
    -webkit-box-shadow: 0px 0px 13px 1px #EF858B;
    -moz-box-shadow: 0px 0px 13px 1px #EF858B;
    box-shadow: 0px 0px 13px 1px #EF858B;
  }

  p{
    font-family: Verdana !important;
    font-weight: bold !important;
  }

  .thisMonthIcon{
    color: #1F77B4;
    margin-right: 5px;
    font-size: 15px !important;
  }

  .lastMonthIcon{
    color: #AEC7E8;
    margin-right: 5px;
    font-size: 15px !important;
  }

  .legend{
    text-decoration: none !important;
  }