<o-form
  title="{{ 'TRIP_INFORMATION' | oTranslate }}"
  #formTrip
  service="trips"
  entity="trip"
  keys="id_trip"
  id="formCar"
  show-header="no"
  class="formTripDetail"
>
  <o-row>
    <o-column class="columnTripDetail">
        <o-row>
          <o-text-input
            class="input-padding large-input"
            title="{{ 'origin' | oTranslate }}"
            attr="origin"
            required="yes"
            id="origin"
            width="300px"
            placeholder="Santiago de Compostela"
          ></o-text-input>
        </o-row>

        <o-row style="display: flex; flex-direction: column; align-items: center;">
          <o-text-input
            class="input-padding large-input"
            title="{{ 'destination' | oTranslate }}"
            attr="destination"
            required="yes"
            id="destination"
            width="300px"
            placeholder="A Coruña"
          ></o-text-input>
        </o-row>

        <o-row style="display: flex; justify-content: center;">
          <o-date-input
            class="date-input"
            title="{{ 'date' | oTranslate }}"
            attr="date"
            required="yes"
            min={{minDate}}
            max={{maxDate}}
            id="date"
            width="145px"
            placeholder="16/06/2023"
            value-type="STRING"
            sql-type="VARCHAR"
          ></o-date-input>

          <o-hour-input
            class="input-padding time-input"
            title="{{ 'time' | oTranslate }}"
            attr="time"
            required="yes"
            id="time"
            width="145px"
            placeholder="12:00"
          ></o-hour-input>
        </o-row>
        <o-row>
          <o-combo 
            service="cars" 
            entity="car" 
            keys="id_car"
            sql-type="INTEGER" 
            attr="id_car" 
            label="Car" 
            value-column="id_car" 
            columns="id_car;id_car_brand;model" 
            visible-columns="id_car_brand;model"
            required="yes" 
            searchable="yes"
            width="280px">
          </o-combo>
        </o-row>
        <div class="ontimize-buttons">
          <button id="clearTrip" title="{{ 'Clear' | oTranslate }}" label="Clear" (click)="clearTrip()" layout-padding>{{ 'Clear' | oTranslate }}</button>
          <button id="saveTrip" title="{{ 'Register' | oTranslate }}" label="Save" (click)="insertTrip()" layout-padding>{{ 'Register' | oTranslate }}</button>
        </div>
    </o-column>
  </o-row>
</o-form>