<o-form
  service="car"
  entity="car"
  keys="id_car"
  header-actions="R;I;U;D"
  show-header-navigation="no"
>
  <o-row>
    <o-column title-label="CAR_INFORMATION" fxFlex>
      <o-row>
        <o-text-input
          class="input-padding"
          attr="CAR_BRAND"
          fxFlex="40"
          required="yes"
        ></o-text-input>
      </o-row>

      <o-row>
        <o-text-input
          class="input-padding"
          attr="MODEL"
          fxFlex="40"
          required="yes"
        ></o-text-input>
      </o-row>

      <o-row>
        <o-text-input
          class="input-padding"
          attr="SEATS"
          fxFlex="20"
          required="yes"
        ></o-text-input>
      </o-row>
      
      <o-row>
        <o-text-input
          class="input-padding"
          attr="CAR_REGISTRATION"
          fxFlex="40"
          required="yes"
        ></o-text-input>
      </o-row>

    </o-column>
  </o-row>
</o-form>
