<o-form
  title="{{ 'CAR_INFORMATION' | oTranslate }}"
  #formCar
  service="cars"
  entity="car"
  keys="id_car"
  id="formCar"
  show-header="no"
  class="formCarDetail"
>
  <o-row>
    <o-column class="columnCarDetail">
        <o-row>
          <o-text-input
            class="input-padding large-input"
            attr="car_brand"
            required="yes"
            width="250px"
            placeholder="Toyota"
          ></o-text-input>
        </o-row>

        <o-row>
          <o-text-input
            class="input-padding large-input"
            attr="model"
            required="yes"
            width="250px"
            placeholder="Corolla"
          ></o-text-input>
        </o-row>

        <o-row>
          <o-integer-input
            class="seats-input large-input"
            attr="seats"
            required="yes"
            min="1"
            max="9"
            [validators]="validatorNumberSeats"
            width="120px"
            placeholder="4"
          ><o-validator error-name="hasValidNumber" error-text="OUT OF SEATS RANGE"></o-validator></o-integer-input>
          <o-text-input
            class="input-padding large-input"
            attr="car_registration"
            required="yes"
            [validators]="validatorCarRegistration"
            width="120px"
            placeholder="1111ZZZ"
          ><o-validator error-name="hasValidCarRegisitration" error-text="CAR REGISTRATION INVALID FORMAT"></o-validator></o-text-input>
        </o-row>
        <div class="ontimize-buttons">
          <button id="undoCar" label="Clear" (click)="clearCar()" layout-padding>{{ 'Clear' | oTranslate }}</button >
          <button id="saveCar" label="Save" (click)="insertCar()" layout-padding>{{ 'Register' | oTranslate }}</button >
        </div>
    </o-column>
  </o-row>
</o-form>
