.large-input {
    font-size: 1.2rem; /* Ajusta el tamaño de fuente según tus preferencias */
  }
  
.seats-input {
    padding-right: 10px; /* Ajusta el margen derecho según tus preferencias */
}

.center-form{
width: 100%;
}