<o-form-layout-manager
  title="{{ 'BOOKINGS' | oTranslate }}"
  separator=" "
  mode="tab"
  label-columns="ORIGIN;DESTINATION"
>
  <div fxFill>
    <o-list
      #list
      attr="bookingslist"
      title="MY BOOKINGS"
      service="bookings"
      entity="myBookings"
      keys="id_booking"
      columns="origin;destination;date;time;name;id_car_brand;id_car_model;car_registration;id_user"
      selectable="true"
      refresh-button="true"
      delete-button="true"
      detail-mode="none"
      keys-sql-types="STRING"
      pagination-controls="yes"
    >
      <o-list-item *ngFor="let row of list.dataArray">
        <o-list-item-text
        #item 
        title="{{ row.origin }} - {{ row.destination }}" 
        primary-text="{{ convertDate(row.date) }} - {{ convertTime(row.time) }}"
        secondary-text="{{ row.name }} - {{ row.id_car_brand }} {{ row.id_car_model }} - {{ row.car_registration }}"
        >
        </o-list-item-text>
      </o-list-item>
    </o-list>
  </div>
</o-form-layout-manager>
