<o-table fxFill service="bookings" entity="myBookings" keys="id_booking" 
columns="id_booking;origin_title;destination_title;date;time;driver;brand_name;model_name;car_registration;id_user;color_name;email"
visible-columns="origin_title;destination_title;driver"
      title="{{ 'BOOKINGS' | oTranslate }}" insert-button="no" delete-button="yes" refresh-button="yes" pagination-controls="no" detail-mode="none" export-button="no"
      query-rows="10" fixed-header="yes" header-actions="R">
  <o-table-row-expandable>
    <ng-template let-row>
      <o-column title="BOOKING_INFORMATION" icon="info" class="vertical-margin-10" layout-gap="12px">
        <div fxLayout="row wrap" fxLayoutGap="14px">
          <span fxFlex="35%"><strong>{{ 'ORIGIN_ADDRESS' | oTranslate}}</strong>: {{row.origin_address}}</span>
          <span fxFlex="35%"><strong>{{'DESTINATION_ADDRESS' | oTranslate}}</strong>: {{row.destination_address}}</span>
          <span fxFlex="10%" ><strong>{{'DATE' | oTranslate}}</strong>: {{convertDate(row.date)}}</span>
          <span fxFlex="10%"><strong>{{'TIME' | oTranslate}}</strong>: {{convertTime(row.time)}}</span>
        </div>
        <div fxLayout="row wrap" fxLayoutGap="14px">
          <span  fxFlex="15%"><strong>{{'DRIVER' | oTranslate}}</strong>: {{row.driver}}</span>
          <span  fxFlex="25%"><strong>{{'EMAIL' | oTranslate}}</strong>: {{row.email}}</span>
          <span  fxFlex="12%"><strong>{{'BRAND_NAME' | oTranslate}}</strong>: {{row.brand_name}}</span>
          <span  fxFlex="15%"><strong>{{'MODEL_NAME' | oTranslate}}</strong>: {{row.model_name}}</span>
          <span  fxFlex="11%"><strong>{{'CAR_REGISTRATION' | oTranslate}}</strong>: {{row.car_registration}}</span>
          <span  fxFlex="10%"><strong>{{'COLOR_NAME' | oTranslate}}</strong>: {{row.color_name | oTranslate}}</span>
        </div>
      </o-column>
    </ng-template>
  </o-table-row-expandable>
</o-table>