.ontimize-buttons{
  margin: 0 auto;
}

.formTripDetail {
  display: flex;
  align-items: center;
  font-size: large;
}

.columnTripDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info_title{
  width: 300px;
  padding-right: 10px;
}

.large-input{
  width: 615px;
}

.input-padding{
  width:198px;
}

.dataDriver{
  width: 250px;
}

.date-input {
  padding-right: 10px;
}

.carData-input{
  padding-right: 165px;
}

button{
  width: 300px;
  padding-right: 10px;
  margin: 5px;
  border-radius: 5px;
  color: black;
  border: 0.5px solid black;
}

button:hover{
  background-color: #C61A23;
  color: white;
}