<o-form
  service="trips"
  entity="booking"
  keys="id_trip"
  header-actions="R"
  show-header-navigation="no"
>
  <o-row>
    <o-column title-label="TRIP_PERSONAL_INFORMATION" fxFlex>
      <div class="center-form">
        <o-row>
          <o-text-input
            class="input-padding large-input"
            attr="origin"
            fxFlex="40"
            required="yes"
            id="origin"
          ></o-text-input>
        </o-row>

        <o-row>
          <o-text-input
            class="input-padding large-input"
            attr="destination"
            fxFlex="40"
            required="yes"
            id="destination"
          ></o-text-input>
        </o-row>

        <o-row>
          <o-date-input
            class="date-input"
            attr="date"
            fxFlex="20"
            required="yes"
            id="date"
          ></o-date-input>

          <o-text-input
            class="input-padding time-input"
            attr="time"
            fxFlex="20"
            required="yes"
            id="time"
          ></o-text-input>
        </o-row>
      </div>
    </o-column>
  </o-row>
</o-form>
