<o-form 
#formTrip
  title="{{ 'BOOKING_INFORMATION' | oTranslate }}"
  service="trips"
  entity="booking"
  keys="id_trip"
  id="idForm"
  show-header="no"
  class="formTripDetail"
  (onDataLoaded)="freeSeatsValue($event)"
>
  <o-row>
    <o-column class="columnTripDetail">
      <h3>{{ 'TRIP_INFORMATION' | oTranslate }}</h3>
      <o-row class="rowTripDetail">
        <o-text-input
          class="large-input"
          title="{{ 'origin' | oTranslate }}"
          attr="origin"
          id="origin"
          read-only="true"
        ></o-text-input>
      </o-row>

      <o-row class="rowTripDetail">
        <o-text-input
          class="large-input"
          title="{{ 'destination' | oTranslate }}"
          attr="destination"
          id="destination"
          read-only="true"
        ></o-text-input>
      </o-row>

      <o-row class="rowTripDetail">
        <o-date-input
          class="date-input"
          title="{{ 'date' | oTranslate }}"
          attr="date"
          id="date"
          read-only="true"
        ></o-date-input>

        <o-hour-input
          class="input-padding date-input"
          title="{{ 'time' | oTranslate }}"
          attr="time"
          id="time"
          read-only="true"
        ></o-hour-input>

        <o-text-input
          width="190px"
          title="{{ 'free_seats' | oTranslate }}"
          attr="free_seats"
          id="free_seats"
          read-only="true"
        ></o-text-input>
      </o-row>
      <h3>{{ 'DRIVER_INFORMATION' | oTranslate }}</h3>
      <o-row class="rowTripDetail">
        <o-text-input
          class="input-padding date-input"
          title="{{ 'name' | oTranslate }}"
          attr="name"
          id="name"
          read-only="true"
        ></o-text-input>

        <o-text-input
          class="input-padding date-input"
          title="{{ 'surname1' | oTranslate }}"
          attr="surname1"
          id="surname1"
          read-only="true"
        ></o-text-input>

        <o-text-input
          class="input-padding"
          title="{{ 'surname2' | oTranslate }}"
          attr="surname2"
          id="surname2"
          read-only="true"
        ></o-text-input>

        <o-text-input
          #idTrip
          class="input-padding time-input"
          title="{{ 'id_trip' | oTranslate }}"
          attr="id_trip"
          id="id_trip"
          read-only="true"
          oHidden
        ></o-text-input>
      </o-row>
    </o-column>
  </o-row>
  <br />
  <o-form 
  #formBooking
  class="formTripDetail"
  service="bookings"
  entity="booking"
  id="idFormBooking"
  header-actions="I"
  show-header="no">
    <o-text-input
        attr="id_trip"
        oHidden
    ></o-text-input>
  <button 
    id="signUp"
    title="{{ 'Sign Up' | oTranslate }}"
    [disabled]="valor==0 ? true : false" 
    (click)="signUp()"
    >{{ 'Sign Up' | oTranslate }}</button>
  </o-form>
</o-form>
