.large-input {
  font-size: 1.2rem; /* Ajusta el tamaño de fuente según tus preferencias */
}
  
.date-input {
  padding-right: 10px; /* Ajusta el margen derecho según tus preferencias */
}

.center-form{
  align-items: center;
  width: 100%;
}

.rowStyle{
  justify-content: center !important;
}