<mat-toolbar color="primary">
  <span class="fill-remaining-space">
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      #menuTrigger="matMenuTrigger"
      (mouseover)="menuTrigger.openMenu()"
      [disabled]="sharedService.isButtonDisabled"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <span (mouseleave)="menuTrigger.closeMenu()">
        <button mat-menu-item [routerLink]="['/car']">
          <mat-icon>directions_car</mat-icon>
          <span>Mis Coches</span>
        </button>
        <button mat-menu-item [routerLink]="['/trip']">
          <mat-icon>navigation</mat-icon>
          <span>Mis Viajes</span>
        </button>
        <button mat-menu-item [routerLink]="['/bookings']">
          <mat-icon>booking</mat-icon>
          <span>Reservas</span>
        </button>
        <button mat-menu-item (click)="logout()" [routerLink]="['/login']">
          <mat-icon>exit_to_app</mat-icon>
          <span>Cerrar Sesión</span>
        </button>
      </span>
    </mat-menu>
  </span>
  <span class="fill-remaining-space">CoWorkDrive</span>
</mat-toolbar>
