.rating-list {
    display: inline-block;
    list-style: none;
  }
  .rating-padding {
    padding-inline-start: 0px !important;
  }
  .rating-list li {
    font-size: 20px;
    float: right;
    color: #ddd;
    padding-right: 5px;
  }
  .rating-list li:hover {
    color: #ffd700;
  }
  .rating-list li:hover ~ li {
    color: #ffd700;
  }
  .rating-list li.selected {
    color: #ffd700;
  }