<o-form
  title="{{ 'TRIP_INFORMATION' | oTranslate }}"
  #formTrip
  service="trips"
  entity="trip"
  keys="id_trip"
  id="formTrip"
  show-header="no"
  class="formTripDetail"
  (onDataLoaded)="hasBookings()"
  header-actions="D"
>
  <o-row>
    <o-column class="columnTripDetail">
        <o-row>
          <o-text-input
            class="date-input"
            title="{{ 'title_origin' | oTranslate }}"
            attr="origin_title"
            required="yes"
            id="origin_title"
            width="300px"
            placeholder="Santiago de Compostela"
          ></o-text-input>
          <o-text-input
            class="date-input"
            title="{{ 'origin_address' | oTranslate }}"
            attr="origin_address"
            required="yes"
            id="origin_address"
            width="300px"
            placeholder="Santiago de Compostela"
          ></o-text-input>
        </o-row>

        <o-row style="display: flex; flex-direction: column; align-items: center;">
          <o-text-input
            class="date-input"
            title="{{ 'title_destination' | oTranslate }}"
            attr="destination_title"
            required="yes"
            id="destination_title"
            width="300px"
            placeholder="A Coruña"
          ></o-text-input>
          <o-text-input
            class="date-input"
            title="{{ 'destination_address' | oTranslate }}"
            attr="destination_address"
            required="yes"
            id="destination_address"
            width="300px"
            placeholder="A Coruña"
          ></o-text-input>
        </o-row>

        <o-row style="display: flex; justify-content: center;">
          <o-date-input
            class="date-input"
            title="{{ 'date' | oTranslate }}"
            attr="date"
            required="yes"
            min={{minDate}}
            max={{maxDate}}
            id="date"
            width="145px"
            placeholder="01/01/2000"
            value-type="STRING"
            sql-type="VARCHAR"
          ></o-date-input>

          <o-hour-input
          class="date-input"
            title="{{ 'time' | oTranslate }}"
            attr="time"
            required="yes"
            id="time"
            width="145px"
            placeholder="12:00"
          ></o-hour-input>

          <o-combo 
            class="date-input"
            service="cars" 
            entity="car" 
            keys="id_car"
            sql-type="INTEGER" 
            attr="id_car" 
            label="Car" 
            value-column="id_car" 
            columns="id_car;brand_name;model_name" 
            visible-columns="brand_name;model_name"
            required="yes" 
            searchable="yes"
            width="300px">
          </o-combo>
        </o-row>
        <o-text-input
          class="date-input"
          title="{{ 'id_trip' | oTranslate }}"
          attr="id_trip"
          required="yes"
          id="id_trip"
          width="300px"
          placeholder="Santiago de Compostela"
          oHidden
        ></o-text-input>
        <div class="ontimize-buttons">
          <button [disabled]="bookingsNumber>0 ? true : false" title="{{ 'Save' | oTranslate }}" label="Save" (click)="updateTrip()" layout-padding>{{ 'Save' | oTranslate }}</button >
          <!-- <button [disabled]="bookingsNumber>0 ? true : false" title="{{ 'Clear' | oTranslate }}" label="Clear" (click)="clearTrip()" layout-padding>{{ 'Clear' | oTranslate }}</button > -->
          <button [disabled]="bookingsNumber>0 ? true : false" title="{{ 'Delete' | oTranslate }}" label="Delete" (click)="deleteTrip()" layout-padding>{{ 'Delete' | oTranslate }}</button >
        </div>
    </o-column>
  </o-row>
</o-form>