<o-form-layout-manager
  title="{{ 'BOOKING_INFORMATION' | oTranslate }}"
  separator=" "
  mode="dialog"
  label-columns="NAME;SURNAME"
>
<o-form-layout-dialog-options width="1100px" height="820px"
  disable-close="false" ></o-form-layout-dialog-options>
<o-grid 
  #grid 
  id="grid"
  attr="tripslist"
  title="TRIPS"
  service="trips"
  entity="tripGetAll"
  keys="id_trip"
  columns="origin_title;destination_title;date;time;free_seats;id_car;name"
  fixed-header="true" 
  style="height:'400px'" 
  pagination-controls="no" 
  query-rows="8"
  refresh-button="true"
  detail-mode="click"
  gutter-size="60px"
  cols="3"
  quick-filter="yes" 
  quick-filter-columns="origin_title;destination_title"
  orderable="true"
  sortable-columns="date;origin_title;destination_title"
  sort-column="date"
  >
    <o-grid-item *ngFor="let list of grid.dataArray">
      <o-column layout-padding class="container-item">
        <img class="map" src="../../../assets/images/login_bg.png"/>
        <div class="origin_title">
          <mat-icon>my_location</mat-icon><b>{{ list.origin_title }}</b>
        </div>
        <div class="nexusDiv"><mat-icon class="nexus">linear_scale</mat-icon></div>
        <div class="destination_title">
          <mat-icon>place</mat-icon> <b> {{ list.destination_title }} </b>
        </div>
        <div class="datetime">
          <mat-icon>date_range</mat-icon> <span>{{ convertDate(list.date) }} </span>
          <mat-icon style="padding-left: 10px;">timelapse</mat-icon> <span> {{ convertTime(list.time) }} </span>
        </div>
        <div class="seatsDiv">
          <div><mat-icon class="seatsIcon">account_circle</mat-icon><span>{{ list.name }}</span></div>
          <div><mat-icon class="seatsIcon">stars</mat-icon><span>4,5</span></div>
          <div><mat-icon #seatsIcon id="seatsIcon" class="seatsIcon" *ngFor="let icon of generateArray(list.free_seats)">event_seat</mat-icon></div>
        </div>
      </o-column>
    </o-grid-item>
</o-grid>
</o-form-layout-manager>