<o-form-layout-manager
  title="{{ 'CAR_INFORMATION' | oTranslate }}"
  separator=" "
  mode="dialog"
  label-columns="NAME;SURNAME"
>
<o-form-layout-dialog-options width="650px" height="450px"
  disable-close="false" ></o-form-layout-dialog-options>
    <o-grid
      #grid
      attr="carslist"
      title="MY CARS"
      service="cars"
      entity="car"
      keys="id_car"
      columns="seats;car_registration;color_name;brand_name;model_name;id_car"
      selectable="true"
      refresh-button="true"
      [insert-button]="grid.dataArray.length>3 ? false : true"
      insert-button-floatable="false"
      delete-button="true"
      detail-mode="click"
      keys-sql-types="INT"
      style="height:'400px'" 
      pagination-controls="no" 
      query-rows="8"
      gutter-size="20px"
      cols="4"
    >
      <o-grid-item *ngFor="let list of grid.dataArray">
        <o-column layout-padding class="container-item">
          <img class="map" src="../../../assets/images/carIcon.png"/>
          <div class="origin">
            <mat-icon>directions_car</mat-icon><b>{{ list.brand_name }} {{ list.model_name }}</b>
          </div>
          <div class="destination">
            <mat-icon>dehaze</mat-icon> {{ list.car_registration }} - {{ list.color_name | oTranslate }}
          </div>
        </o-column>
      </o-grid-item>
    </o-grid>
</o-form-layout-manager>
