.rateRow{
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center;
    width:100%;
}

.rate-input{
    width: 80px;
    height: 50px;
}

.rateDiv{
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center;
    width:100%;
}

.rate-button{
    width: 80px;
    height: 20px;
    border-radius: 5px;
    color: black;
    border: 0.5px solid black;
    margin-top: 17px;
    margin-left: 10px;
}

.rate-button:hover{
    background-color: #C61A23;
    color: white;
}

.star {
    cursor: pointer;
    font-size: 24px;
    color: #ccc;
  }
  
  .star-filled {
    color: #E4333C;
  }