@import 'node_modules/ontimize-web-ngx-theming/ontimize-theme.scss';

/* Color definitions */
$mat-custom-primary: (
/*     50:#F3E5F5,
    100:#E1BEE7,
    200:#CE93D8,
    300:#BA68C8,
    400:#AB47BC,
    500:#9C27B0,
    600:#8E24AA,
    700:#7B1FA2,
    800:#6A1B9A,
    900:#4A148C,
    A100:#EA80FC,
    A200:#E040FB,
    A400:#D500F9,
    A700:#AA00FF, */
    50: #FCE8E9,
    100: #FAD6D8,
    200: #F4AEB1,
    300: #EF858B,
    400: #EA5D64,
    500: #E4333C,
    600: #C61A23,
    700: #95141A,
    800: #630D11,
    900: #320709,
    A100:#EA80FC,
    A200:#E040FB,
    A400:#D500F9,
    A700:#AA00FF,

  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: white,
    400: white,
    500: $white-87-opacity,
    600: $white-87-opacity,
    700: $white-87-opacity,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);

/* Define a theme for your theme using the Material Design palettes available in palette.scss
* (imported above). For each palette, you can optionally specify a default, lighter, and darker
* hue. Available color palettes: https://material.io/design/color/*/
$primary: mat-palette($mat-custom-primary);
$accent:  mat-palette($mat-red, 700, 800, 900);

/* The warn palette is optional (defaults to red).*/
$warn:    mat-palette($mat-red);

/* Create the theme object (a Sass map containing all of the palettes). 
/* Light theme */
$theme: o-mat-light-theme($primary, $accent, $warn);

/* Dark theme */
//$theme: o-mat-dark-theme($primary, $accent, $warn);